*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
#portfolio{
    height: 100vh;
    background-image: url(/src/img/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.content h1{
    font-size: 5rem;
    font-weight: 700;
}
.content i{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.content .btn1{
    padding: 1.40rem 2.5rem;
    border-radius: 10px;
    background-color: #1d819fe1;
    margin-top: 2rem;
    border: none;
    color: white;
}
.content .btn1:hover{
background-color:#1d819f ;
}

/* portfolio end */
#unsplash{
    width: 100%;
    height: 450px;
}
.unsplash-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem;
}
.unsplash-content h2{
font-size: 2rem;
}
.unsplash-content p{
font-size: 1.3rem;
}
.btn2{
    padding: 1.40rem 2.5rem;
    border-radius: 10px;
    background-color: black;
    margin-top: 2rem;
    border: none;
    color: white;
}
.unsplash-content .btn2:hover{
    background-color:rgba(0, 0, 0, 0.799) ;
    }
    /* unsplash end */

/* grid start */
 #services{
    width: 100%;
    height: 600px;
    background-color: #08a1c0;
 }   
 .header{
    padding: 100px 0px;
    text-align: center;

 }
 .header h3{
    color: yellow;
 }
 .header h1{
    font-size: 3rem;
    color: white;
 }
 #grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;

 }
 .item-rounded{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
 }
 .content-grid{
    margin-top: 80px;
    text-align: center;
    color: white;
 }
    
 .item-rounded i{
    margin-left:44px;
    margin-top: 42px;
    font-size: 1.5rem;
    color: gray;
 }
 /* website  start*/
 #website{
    width: 100%;
    height: 600px;
    background-image: url(/src/img/bg-callout.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .content-website{
    text-align: center;
    padding-top: 170px;
    font-size: 2rem;
 }
 .content-website a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 20px;
    background-color: #1d819fe1;
    margin: 40px 0px;
    border-radius: 10px;
    color: white;
    font-size: px;
 }
 /* portfolio */


.container{
    width: 60%;
    height: 900px;
    margin: 0 auto;
    padding-top: 150px;
    text-align: center;
   
}
.container,h3,h1{
   margin-bottom: 30px;
}
 .grid img {
    width: 100%;
    display: block;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}
/* end */

#contact{
    width: 100%;
    height: 300px;
    background-color: #08a1c0;
    text-align: center;
}
.contact-content h1{
    font-size: 2rem;
    padding-top: 130px;
    margin-bottom: 50px;
}
.contact-content>.one{
    padding: 20px 30px;
    background-color: white;
}
.contact-content>.two{
    padding: 20px 30px;
    background-color: rgb(27, 27, 27);
    color: white;
    margin-left: 60px;
    
}
#map{
    width: 100%;
    height: 600px;
   
}
iframe{
    width: 100%;
    height: 450px;
}
/* socail */
#social{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 30px;
  margin-bottom: 150px;
}
#social i{
    background-color:#08a1c0;
    padding: 20px;
    border-radius: 50%;
    color: white;
}

